# List Comprehensions.

-> In addition to sequence operations and list methods, Python includes a more advanced operation called a list comprehension.

-> It's just another way of creating the lists

-> List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line for loop built inside of brackets.

syntax ##### my_list = [item for item in sequence]

In [1]:
# EX1)
# Grab every letter in string
lst = [x for x in 'word']

In [2]:
# Check
lst

['w', 'o', 'r', 'd']

In [3]:
#EX2) 
# to convert a string to list of characters
# normal method
x  = 'Reddy2223'

x_list = [] # step 1

for char in x: # step 2
    x_list.append(char) # step 3
    
print(x_list)

['R', 'e', 'd', 'd', 'y', '2', '2', '2', '3']

In [4]:
#EX3)
# create a list which contains the squares of 0 to 10
# without list comprehension
list1 = []

for i in range(11):
    list1.append(i**2)

print(list1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
# with list comprehensions
list1 = [i**2 for i in range(11)]
print(list1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Example 4

Let's see how to add in if statements:

In [6]:
# normal method
list1 = [] 

for i in range(11):
    if(i%2 == 0):
        list1.append(i)
        
print(list1)

[0, 2, 4, 6, 8, 10]

In [7]:
# Check for even numbers in a range
list1 = [i for i in range(11) if(i%2 == 0)] 
list1

[0, 2, 4, 6, 8, 10]

In [8]:
# Example 5
# Convert Kms to meters
# 1km = 1000m
km_list = [1,2,3,4,5]

m_list = []

for i in km_list:
    m_list.append(i*1000)
    
print(m_list)

[1000, 2000, 3000, 4000, 5000]

In [9]:
m_list = [i*1000 for i in km_list]
print(m_list)

[1000, 2000, 3000, 4000, 5000]