# Dictionaries

In [1]:
# In python,dictionaries are written with in flower brackets.

# It contains keys and values which are seperated by commas.

# Can store different datatypes,and order doesn't matter here.

# Keys should be Unique, whereas dict are mutable.


#Ex:
dict1 = {
    "Company":"KTM",
    "model":"Duke 200",
    "year":2016,
    "cost":180000
}
dict1
type(dict1)

dict

In [2]:
# len() of dict
len(dict1)

4

In [3]:
# Accessing items

x=dict1["model"]
x

'Duke 200'

In [4]:
# get(keyname)

x = dict1.get("model")
x

'Duke 200'

# Change/Update Values

In [5]:
#update the year

dict1["year"] = 2017
dict1

{'Company': 'KTM', 'model': 'Duke 200', 'year': 2017, 'cost': 180000}

In [6]:
# keys() method to get the keys

keys = list(dict1.keys())
print(keys)

['Company', 'model', 'year', 'cost']

In [7]:
# values() method to get the values

values = list(dict1.values())
print(values)

['KTM', 'Duke 200', 2017, 180000]

In [8]:
# items() method to get both keys and values

items = list(dict1.items())
items

[('Company', 'KTM'), ('model', 'Duke 200'), ('year', 2017), ('cost', 180000)]

# Adding items to the existing Dictionary

In [9]:
# add color of the bike
dict1["color"] = "WhiteOrange"
dict1

{'Company': 'KTM',
 'model': 'Duke 200',
 'year': 2017,
 'cost': 180000,
 'color': 'WhiteOrange'}

In [10]:
# add tyre name

dict1["Tyrename"] = "MRF"
dict1

{'Company': 'KTM',
 'model': 'Duke 200',
 'year': 2017,
 'cost': 180000,
 'color': 'WhiteOrange',
 'Tyrename': 'MRF'}

# Removing and Adding items

In [11]:
# .pop(key)

t = dict1.pop('model')
print()
print(dict1)

{'Company': 'KTM', 'year': 2017, 'cost': 180000, 'color': 'WhiteOrange', 'Tyrename': 'MRF'}

In [12]:
# adding again

dict1['model'] = 'Duke 200'
dict1

{'Company': 'KTM',
 'year': 2017,
 'cost': 180000,
 'color': 'WhiteOrange',
 'Tyrename': 'MRF',
 'model': 'Duke 200'}

In [13]:
# .popitem() removes the last inserted item.

print(dict1)
dict1.popitem()
print(dict1)

{'Company': 'KTM', 'year': 2017, 'cost': 180000, 'color': 'WhiteOrange', 'Tyrename': 'MRF', 'model': 'Duke 200'}
{'Company': 'KTM', 'year': 2017, 'cost': 180000, 'color': 'WhiteOrange', 'Tyrename': 'MRF'}

In [14]:
# .clear() method
dict1.clear()
dict1

{}

In [15]:
# .copy() method

mydict = {
    "Company":"KTM",
    "model":"Duke 200",
    "year":2016,
    "cost":180000
}

dict = mydict.copy()
print(dict)

{'Company': 'KTM', 'model': 'Duke 200', 'year': 2016, 'cost': 180000}

# Nested Dictionaries

In [16]:
# Nested is nothing but dict inside a dict.

CSK = {
  "name" : "Dhoni",
  "year" : 2017
}
GL = {
  "name" : "Raina",
  "year" : 2017
}


IPL = {
  "CSK" : CSK,
  "GL" : GL
}

In [17]:
IPL

{'CSK': {'name': 'Dhoni', 'year': 2017}, 'GL': {'name': 'Raina', 'year': 2017}}

In [23]:
dict1 = {
    "april_batch":{
        "student":{
            "name":"Mike",
            "marks":{
                "python":80,
                "maths":70
            }
        }
    }
}

# 1.access "Mike"
# 2.access 80
# 3.change "Mike" to "Your name"
# 4.add ML = 80 and Dl = 80

k = dict1["april_batch"]["student"]["name"]
l = dict1["april_batch"]["student"]["marks"]["python"]
dict1["april_batch"]["student"]["name"]="Reddy"
dict1["april_batch"]["student"]["marks"]["ML"]=80
dict1["april_batch"]["student"]["marks"]["DL"]=80
print(k,l, dict1)

Mike 80 {'april_batch': {'student': {'name': 'Reddy', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}

In [24]:
keys = list(dict1.keys())
print(keys)

['april_batch']

In [25]:
values = list(dict1.values())
print(values)

[{'student': {'name': 'Reddy', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}]