# Sets

#In python, sets are written in curly/flower brackets.

#Can store different data types

#Duplicate values are not allowed

#Order is not retained

#Indexing and slicing is not possible

In [1]:
set1 ={2,4,6,8,10,12,14,16,True,False,"Netzwerk"}
print(set1)
print(type(set1))

{False, True, 2, 4, 6, 8, 10, 12, 14, 16, 'Netzwerk'}
<class 'set'>

In [2]:
len(set1)

11

In [3]:
set2={22,23,22,"Netzwerk",True,"Netzwerk"}
print(set2)

{'Netzwerk', True, 22, 23}

In [4]:
set3={"KTM",22,"Duke",200,"Enfield"}
print(set3)

{'KTM', 'Enfield', 200, 'Duke', 22}

In [5]:
# Indexing and Slicing is not possible in Sets.

set1[0]

TypeError: 'set' object is not subscriptable

# Empty set

In [6]:
set4 = {}
set4
print(type(set4))

<class 'dict'>

In [7]:
set4 = set()
type(set4)

set

# Mutability

In [8]:
# Once you created the set you can add and remove elements from set, but cannot modify the existing element in the set.

set3={"KTM",22,"Duke",200,"Enfield"}

# Add item to the set3
set3.add("Classic")
set3

{200, 22, 'Classic', 'Duke', 'Enfield', 'KTM'}

In [9]:
# .Update(list)
set3.update([1,2,3])
set3

{1, 2, 200, 22, 3, 'Classic', 'Duke', 'Enfield', 'KTM'}

In [10]:
# .copy() method

set3.copy()
set3

{1, 2, 200, 22, 3, 'Classic', 'Duke', 'Enfield', 'KTM'}

# Removing items

In [11]:
# .remove(item) = removes specified item from set, if specified item is not present it will give error.

set5 = {1,2,3,4,5,6,7,8,9}
set5.remove(9)
set5

{1, 2, 3, 4, 5, 6, 7, 8}

In [12]:
set5.remove(10)
set5

KeyError: 10

In [13]:
# .Discard(item) = discard the specified item from set, if the item is not present then also it will not give error.
set5.discard(4)
set5

{1, 2, 3, 5, 6, 7, 8}

In [14]:
set5.discard(0)
set5

{1, 2, 3, 5, 6, 7, 8}

In [15]:
# .pop() = sets are unordered, when pop method is used,we will not know which item is going to be removed.
set5.pop()
set5

{2, 3, 5, 6, 7, 8}

In [16]:
set5.pop()
set5

{3, 5, 6, 7, 8}

In [17]:
# "go through other inbuilt methods like"
# 1)difference() 
A={'a','b','c','d'}
B={'c','d','e'}
print(A.difference(B))
print(B.difference(A))

{'b', 'a'}
{'e'}

In [18]:
# 2) symmetric_difference()
A={'a','b','c','d'}
B={'c','d','e'}
print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

{'b', 'e', 'a'}
{'e', 'a', 'b'}