# BASIC DATA TYPES IN PYTHON.

In [1]:
# Numbers.

# 1) Integers 2)Floating point

# This are used for doing math operation on it.

# Intergers

print(22)
print(23)

22
23

In [ ]:
print(-22)

In [2]:
type(22)

int

In [ ]:
type(-22)

In [3]:
# float

print(22.23)

22.23

In [ ]:
print(0.00)

In [4]:
type(0.00)

float

# Booleans.

Logical values that indicates True or False

In [5]:
# True or False

a=True
type(a) #print(type(True))

bool

In [6]:
b=False
print(type(b))

<class 'bool'>

In [7]:
x=22
print(type(x))

<class 'int'>

# Strings.

.Ordered sequence of characters that are enclosed with in single and double quotes.

In [8]:
# Single quotes('')

a='Reddy'
print(a)
b='2223'
print(b)

Reddy
2223

In [ ]:
# type(b)
type(b)

In [9]:
# using Double quotes("")
a="REDDY"
print(a)
b="1222"
print(b)

REDDY
1222

In [10]:
type(a)

str

In [11]:
# type(a)
print(type(a))

<class 'str'>

In [12]:
#len() of string
a ="Netzwerk Academy"
len(a)

16

In [13]:
# Spaces are also counted

a ="Welcome to Netzwerk Academy"
len(a)

27

# String indexing

In [ ]:
#.Indexing 
               Character: N E T Z W E R K
                   Index: 0 1 2 3 4 5 6 7
                
                
 #Reverse Indexing
                     Character: N  E  T  Z  W  E  R  K
                         Index: 0  1  2  3  4  5  6  7
                 Reverse Index: 0 -7 -6 -5 -4 -3 -2 -1

In [14]:
# Examples on indexing and reverse indexing

a ="Netzwerk"
print(a[0])

N

In [15]:
print(a[3])

z

In [18]:
print(a[-4])

w

# Slicing

In [ ]:
#[start:stop:step]

.start = starting position (default value is 0)
.stop = end position. 
.step = step size or increment size (default value is 1)

In [20]:
# Examples on slicing

a="Netzwerk Academy"
#Grab Netzwerk
a[0:8:1]

'Netzwerk'

In [21]:
a[:8]

'Netzwerk'

In [22]:
#grab Academy
a[9:]

'Academy'

In [23]:
# using negative indexing
a[-7:]

'Academy'

In [24]:
#step size
a[::3]

'NzrAdy'

In [25]:
a[::-1]

'ymedacA krewzteN'

# concatination

In [26]:
str1= "Netzwerk"
str2= "Academy"
str3=str1 + str2
print(str3)

NetzwerkAcademy

In [27]:
#Error
str1 ="Netzwerk"
str2 = 2223
print(str1 + str2)

TypeError: can only concatenate str (not "int") to str

# Immutability

In [28]:
#Strings are immutable means value of an obj can't be changed overtime, once created the value of these objects are permaent.

name = "Tree"

In [29]:
name[0] = "F"

TypeError: 'str' object does not support item assignment

In [30]:
# Work around
"F" + name[1:]

'Free'