# Tuples

In [1]:
# In python, tuples written in round brackets.

# Can store different data types.
# Order is retained
# Indexing and slicing is possible
# Immutable.

Academy = (23,"june","Netzwerk","Banglore", True, False)
BDS = ("Maths","Python","ML","Tableau")
print(Academy)
print(type(Academy))
print(type(BDS))

(23, 'june', 'Netzwerk', 'Banglore', True, False)
<class 'tuple'>
<class 'tuple'>

In [2]:
# grab the len() of tuple
len(Academy)

6

# Creating a Tuple with one element.

In [3]:
tup1= ("Netzwerk")
type(tup1)

str

In [4]:
# To create a tuple with one element make use of comma(,) after the value.
tup1 = ("Netzwerk",)
type(tup1)

tuple

In [5]:
len(tup1)

1

# Indexing and Slicing.

In [6]:
# Indexing :always starts from 0

Academy

(23, 'june', 'Netzwerk', 'Banglore', True, False)

In [7]:
Academy[0]

23

In [8]:
Academy[-3]

'Banglore'

In [9]:
# Slicing.

# [start:stop:step]

# start = starting position (default value is 0)
# stop = end position(exclusive) (default value is end position)
# step = step size or increment size (default value is 1)




# To get first 3 elements

Academy[:3]

(23, 'june', 'Netzwerk')

In [10]:
# To get last 3 elements
Academy[3:]

('Banglore', True, False)

In [11]:
# To get alternate values\

Academy[::2]

(23, 'Netzwerk', True)

# Immutable

In [12]:
# Once the tuple is created you cannot Add, Remove or modify the elements.

Academy = (23,"june","Netzwerk","Banglore", True, False)

Academy[3] = "Hydrabad" #Error

TypeError: 'tuple' object does not support item assignment

In [13]:
# Add and Remove elements from Tuple.

tup=(67,75,55,80,89)

lis=list(tup) # converting to list
lis.append(99) # adding 99 to list
tup2=tuple(lis) # converting back to tuple
print(tup2) # displaying new tuple

(67, 75, 55, 80, 89, 99)

In [14]:
lis2=list(tup2) # convert to lis2
lis2.remove(55) # removing 55 from lis2
tup3=tuple(lis2) 
print(tup3)

(67, 75, 80, 89, 99)

In [15]:
# Tuple Addition/joining of tuples.

#Nothing but tuple concatination

Academy = (23,"june","Netzwerk","Banglore", True, False)
BDS = ("Maths","Python","ML","Tableau")

tup=Academy + BDS  # only tuples are allowed, other data type isn't allowed

print(tup)

(23, 'june', 'Netzwerk', 'Banglore', True, False, 'Maths', 'Python', 'ML', 'Tableau')

In [16]:
# Tuple Multiplication
BDS = ("Maths","Python","ML","Tableau")
BDS1 =BDS*3
print(BDS1)

('Maths', 'Python', 'ML', 'Tableau', 'Maths', 'Python', 'ML', 'Tableau', 'Maths', 'Python', 'ML', 'Tableau')

# To check particular value in Tuple.

In [17]:
Academy
print('Banglore' in Academy)

True